.blog-image {
    display: inline-block;
    overflow: hidden;
}
.blog-image__scale {
    display: block;
    transition: 0.5s;
}
.blog-image__scale:hover {
    transform: scale(1.1);
}

.blog-item__date {
    padding: 0 20px;
}
.blog-item__date > *:not(:last-child) {
    margin: 0 0 10px 0;
}
.blog-date {
}
.blog-date__desc::before {
    content: '';
    display: block;
    background-image: url(./icon/clock.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 3px;
    left: 0;
}
.blog-date__desc {
    position: relative;
    padding-left: 20px;
    font-size: 13px;
    line-height: calc(19 / 13 * 100%);
    color: rgb(168, 168, 168);
}
.blog-item__title {
}
.blog-title {
}
.blog-title__link {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 20px;
    color: #000;
}
.blog-title__link:hover {
    color: rgb(95, 227, 149);
    transition: all 1s ease-in-out;
}
.blog-item-desc {
    font-size: 13px;
}
.blog-item__footer {
    padding: 5px 15px;
}
.blog-foo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(233, 231, 231);
    width: 100%;
    height: 45px;
}
.blog-foo__btn {
}
.favorite-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}
.noliked {
    background-image: url(./icon/unlike-btn.png);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}
.categorie__link {
    display: block;
    padding: 5px 10px;
    color: #fff;
    background-color: rgb(95, 227, 149);
    border-radius: 2px;
}
.categorie__link:hover {
    background: black;
    color: #fff;
    transition: all 1s ease;
}
