.page {
    flex: 1 1 auto;
}

/* -------------------------------POSTCARDS------------------------------------ */
.page__postcards {
}
.postcards {
}
.postcards__container {
}
.postcards__body {
    padding: 50px 0;
}
.postcards__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.postcards__item {
    margin: 0 0 20px 0;
}
.blog-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    max-width: 100%;
}
.blog-item > *:not(:last-child) {
    margin: 0 0 10px 0;
}
