@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html,
body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    height: 100%;
    color: black;
}
._container {
    max-width: 1220px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
img {
    max-width: 100%;
    height: auto;
}

/* tablet */
@media (min-width: 768px) {
    ._container {
        max-width: 720px;
    }
    .main-block__body {
        padding: 200px 0 150px 0;
        max-width: 300px;
    }
    .main-block__title {
        line-height: calc(45 / 45 * 100%);
        font-size: 100px;
    }
    .main-block__text {
        line-height: calc(45 / 45 * 100%);
        font-size: 80px;
    }
    .subscribe__title {
        font-size: 40px;
    }
    .subscribe__text {
        font-size: 20px;
    }
    .subscribe__input {
        width: 400px;
    }
    .subscribe__btn {
        width: 400px;
    }
    .blog-item {
        flex: 1 1 50%;
        max-width: 50%;
    }
    .postcards__item {
        padding: 0 10px;
        margin: 0 0 20px 0;
    }
}

/* laptop */
@media (min-width: 992px) {
    ._container {
        max-width: 960px;
    }
    .nav-mobile-menu {
        display: none;
    }
    .main-block__body {
        padding: 250px 0 100px 0;
        max-width: 600px;
    }
    .blog-item {
        flex: 1 1 33%;
        max-width: 33%;
    }
}

/* desktop */
@media (min-width: 1200px) {
    ._container {
        max-width: 1170px;
    }
}

/* only mobile */
@media (max-width: 767px) {
}
